<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hpcc.kursovaya">

    <application
        android:name=".dao.ApplicationRealm"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".ui.schedule.AddClass"
            android:label="@string/title_activity_edit_subject"/>
        <receiver android:name=".AlarmClassReceiver">
            <intent-filter>
                <action android:name="class.action.DISPLAY_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".ui.report.GeneratedReportActivity"
            android:label="@string/title_activity_edit_subject"/>
        <activity
            android:name=".ui.schedule.EditClass"
            android:label="@string/edit_class"/>
        <activity
            android:name=".ui.subjects.EditSubjectActivity"
            android:label="@string/title_activity_edit_subject" />
        <activity
            android:name=".ui.groups.EditGroupActivity"
            android:label="@string/title_activity_edit_group" />
        <activity
            android:name=".ui.subjects.AddSubjectActivity"
            android:label="@string/title_activity_add_subject" />
        <activity
            android:name=".ui.groups.AddGroupActivity"
            android:label="@string/title_activity_add_group" />
        <activity
            android:name=".ui.settings.specialities.SpecialitiesActivity"
            android:label="@string/title_activity_add_template" />
        <activity
            android:name=".ui.templates.AddTemplateActivity"
            android:label="@string/title_activity_add_template" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>